<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
        <key>application-identifier</key>
		<string>833SWH7QL6.com.appdome.all</string>
        <key>keychain-access-groups</key>
		<array>
            <string>833SWH7QL6.*</string>
            <string>com.apple.token</string>
		</array>
        <key>get-task-allow</key>
        <true/>
        <key>com.apple.developer.team-identifier</key>
		<string>833SWH7QL6</string>
        <key>com.apple.developer.default-data-protection</key>
        <string>NSFileProtectionComplete</string>
        <key>inter-app-audio</key>
        <true/>
        <key>com.apple.developer.networking.networkextension</key>
        <array>
            <string>app-proxy-provider</string>
            <string>content-filter-provider</string>
            <string>packet-tunnel-provider</string>
            <string>dns-proxy</string>
            <string>dns-settings</string>
        </array>
        <key>com.apple.developer.siri</key>
        <true/>
	</dict>
</plist>
